# Gradle build system ignores
.gradle/
build/

# Other IDE related folders
.idea/
.settings/

# MCreator workspace
.mcreator/
elements/

# Minecraft client/server files
run/

# Mcreator file
magic_witchcraft.mcreator

textures_backup/