# Gradle build system ignores
.gradle/
build/

# Other IDE related folders
.idea/
.settings/

# MCreator workspace
.mcreator/
elements/
arrow_gui.png
icons_gui_spectral_power_infuser.png

# Minecraft client/server files
run/

# Mcreator file
magic_witchcraft.mcreator
